**CASE STUDY: YAKUB TRADING GROUP - ALGORITHMIC STAFF PROMOTION**

Abdullah’s Baba Yakub, 38, is the heir apparent to the highly revered Yakub business dynasty. The enterprise has spanned decades with vast investment interest in all the various sectors of the economy.

Abdullah has worked for 16 years in Europe and America after his first and second degrees at Harvard University where he studied Engineering and Business Management. He is a very experienced technocrat and a global business leader who rose through the rank to become a Senior Vice President at a leading US business conglomerate.
His dad is now 70 and has invited him to take over the company with a mandate to take it to the next level of growth as a sustainable legacy. Abdullah is trusted by his father and his siblings to lead this mandate.

On resumption, he had an open house with the staff to share his vision and to listen to them on how to take the business to the next level. Beyond the general operational issues and increasing need for regulatory compliance, one of the issues raised by the staff was a general concern on the process of staff promotion. Many of the staff allege that it is skewed and biased. Abdullah understood the concern and promised to address it in a most scientific way.

You have been called in by Abdullah to use your machine learning skills to study the pattern of promotion. With this insight, he can understand the important features among available features that can be used to predict promotion eligibility.

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Yakub_train.csv')
data.head()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,YAK/S/00001,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
2,YAK/S/00003,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0
3,YAK/S/00004,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1982,2.5,2009,0,0,42,NIGER,Yes,Single,No,No,1,0
4,YAK/S/00006,Information and Strategy,First Degree or HND,Male,Direct Internal process,3,1990,7.5,2012,0,0,77,AKWA IBOM,Yes,Married,No,No,1,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38312 entries, 0 to 38311
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   EmployeeNo                           38312 non-null  object
 1   Division                             38312 non-null  object
 2   Qualification                        36633 non-null  object
 3   Gender                               38312 non-null  object
 4   Channel_of_Recruitment               38312 non-null  object
 5   Trainings_Attended                   38312 non-null  int64
 6   Year_of_birth                        38312 non-null  int64
 7   Last_performance_score               38312 non-null  float64
 8   Year_of_recruitment                  38312 non-null  int64
 9   Targets_met                          38312 non-null  int64
 10  Previous_Award                       38312 non-null  int64
 11  Training_score_average               38312 non-null  int64
 12  State_Of_Origin                      38312 non-null  object
 13  Foreign_schooled                     38312 non-null  object
 14  Marital_Status                       38312 non-null  object
 15  Past_Disciplinary_Action             38312 non-null  object
 16  Previous_IntraDepartmental_Movement  38312 non-null  object
 17  No_of_previous_employers             38312 non-null  object
 18  Promoted_or_Not                      38312 non-null  int64
dtypes: float64(1), int64(7), object(11)
memory usage: 5.6+ MB

In [99]:
data['Training_score_average'].value_counts()#.nunique()

41    1873
42    1867
40    1719
43    1634
52    1517
      ...
88      30
91      24
33      18
32       5
31       1
Name: Training_score_average, Length: 61, dtype: int64

***The company has 9 divisions (departments)***

In [113]:
data['Promoted_or_Not'].value_counts(normalize=True)

0    0.915405
1    0.084595
Name: Promoted_or_Not, dtype: float64

##### The ratio between the promoted and not promoted is very high. It looks like it is skewed and biased

In [6]:
df_promoted = data[data['Promoted_or_Not']==1]
# df_promoted.head()
df_npromoted = data[data['Promoted_or_Not']==0]

In [114]:
#df_promoted['Training_score_average'].value_counts()

In [7]:
print(df_promoted['Gender'].value_counts())
print('')
print(data['Gender'].value_counts())

Male      2223
Female    1018
Name: Gender, dtype: int64

Male      26880
Female    11432
Name: Gender, dtype: int64

The promotion doesn't seem to be gender biased from the information above.

(*The ratio of male to female in the promoted group is similar to the ratio of male to female in the company*)

In [8]:
df_promoted['Channel_of_Recruitment'].value_counts()

Agency and others                  1796
Direct Internal process            1347
Referral and Special candidates      98
Name: Channel_of_Recruitment, dtype: int64

In [9]:
data['Channel_of_Recruitment'].value_counts()

Agency and others                  21310
Direct Internal process            16194
Referral and Special candidates      808
Name: Channel_of_Recruitment, dtype: int64

**Number of Staff who met target and were promoted and those not promoted**

In [77]:
print(df_promoted['Targets_met'].value_counts(normalize=True), '\n')
print(df_npromoted['Targets_met'].value_counts(normalize=True), '\n')
#print([data['Targets_met']==1]['Promoted_or_Not'].value_counts(normalize=True))

1    0.705955
0    0.294045
Name: Targets_met, dtype: float64

0    0.679621
1    0.320379
Name: Targets_met, dtype: float64

In [115]:
merit = data[data['Targets_met']==1][data['Previous_Award']==1][data['Last_performance_score']>=7.5]#[df_promoted['Training_score_average']==df_promoted['Training_score_average'].max()]
merit.shape

<ipython-input-115-ebef0e010470>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  merit = data[data['Targets_met']==1][data['Previous_Award']==1][data['Last_performance_score']>=7.5]#[df_promoted['Training_score_average']==df_promoted['Training_score_average'].max()]
<ipython-input-115-ebef0e010470>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  merit = data[data['Targets_met']==1][data['Previous_Award']==1][data['Last_performance_score']>=7.5]#[df_promoted['Training_score_average']==df_promoted['Training_score_average'].max()]

(465, 19)

In [107]:
p = df_promoted[df_promoted['Targets_met']==1][df_promoted['Previous_Award']==1][df_promoted['Last_performance_score']==12.5]#[df_promoted['Training_score_average']==df_promoted['Training_score_average'].max()]
(p.shape[0]/data.shape[0])*100

<ipython-input-107-34d508ef1e9e>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  p = df_promoted[df_promoted['Targets_met']==1][df_promoted['Previous_Award']==1][df_promoted['Last_performance_score']==12.5]#[df_promoted['Training_score_average']==df_promoted['Training_score_average'].max()]
<ipython-input-107-34d508ef1e9e>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  p = df_promoted[df_promoted['Targets_met']==1][df_promoted['Previous_Award']==1][df_promoted['Last_performance_score']==12.5]#[df_promoted['Training_score_average']==df_promoted['Training_score_average'].max()]

0.2349133430778868

In [96]:
n_p = df_promoted[df_promoted['Targets_met']==1][df_promoted['Previous_Award']==1][df_promoted['Last_performance_score']==7.5]
(n_p.shape[0]/data.shape[0])*100

<ipython-input-96-a21233ccf9ec>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  n_p = df_promoted[df_promoted['Targets_met']==1][df_promoted['Previous_Award']==1][df_promoted['Last_performance_score']==7.5]
<ipython-input-96-a21233ccf9ec>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  n_p = df_promoted[df_promoted['Targets_met']==1][df_promoted['Previous_Award']==1][df_promoted['Last_performance_score']==7.5]

0.15138859887241596

In [109]:
n = df_npromoted[df_npromoted['Targets_met']==1][df_npromoted['Previous_Award']==1][df_npromoted['Last_performance_score']>=7.5]
n.shape[0]

<ipython-input-109-7060b755c4e0>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  n = df_npromoted[df_npromoted['Targets_met']==1][df_npromoted['Previous_Award']==1][df_npromoted['Last_performance_score']==7.5]
<ipython-input-109-7060b755c4e0>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  n = df_npromoted[df_npromoted['Targets_met']==1][df_npromoted['Previous_Award']==1][df_npromoted['Last_performance_score']==7.5]

0.30016704948841094

In [11]:
print('PROMOTED\n', df_promoted['Trainings_Attended'].value_counts(), '\n')
print('NOT PROMOTED\n', df_npromoted['Trainings_Attended'].value_counts())

PROMOTED
 2    2717
3     411
4      92
5      17
7       2
6       2
Name: Trainings_Attended, dtype: int64

NOT PROMOTED
 2     28264
3      5220
4      1152
5       299
6        91
7        26
8         6
10        5
11        4
9         4
Name: Trainings_Attended, dtype: int64

In [12]:
print('PROMOTED\n', df_promoted['Past_Disciplinary_Action'].value_counts(), '\n')
print('NOT PROMOTED\n', df_npromoted['Past_Disciplinary_Action'].value_counts())

PROMOTED
 No     3225
Yes      16
Name: Past_Disciplinary_Action, dtype: int64

NOT PROMOTED
 No     34936
Yes      135
Name: Past_Disciplinary_Action, dtype: int64

In [94]:
print('PROMOTED\n', df_promoted['Last_performance_score'].value_counts(normalize=True), '\n')
print('NOT PROMOTED\n', df_npromoted['Last_performance_score'].value_counts(normalize=True))

PROMOTED
 12.5    0.400802
7.5     0.288183
10.0    0.174329
0.0     0.075902
5.0     0.042579
2.5     0.018204
Name: Last_performance_score, dtype: float64

NOT PROMOTED
 7.5     0.343845
12.5    0.197143
10.0    0.181546
2.5     0.121639
5.0     0.080009
0.0     0.075818
Name: Last_performance_score, dtype: float64

In [50]:
df_promoted.sort_values('Training_score_average', ascending=False)

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
26751,YAK/S/38153,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1986,7.5,2012,1,0,91,OGUN,Yes,Single,No,No,0,1
30788,YAK/S/43973,Information and Strategy,"MSc, MBA and PhD",Male,Agency and others,2,1988,10.0,2010,1,0,91,GOMBE,No,Married,No,No,1,1
27444,YAK/S/39166,Information and Strategy,First Degree or HND,Male,Direct Internal process,2,1991,12.5,2012,1,0,91,FCT,Yes,Married,No,No,2,1
4619,YAK/S/06503,Information Technology and Solution Support,"MSc, MBA and PhD",Male,Agency and others,2,1985,7.5,2010,0,1,91,KADUNA,Yes,Married,No,No,1,1
22044,YAK/S/31447,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Agency and others,2,1971,10.0,2008,1,0,91,TARABA,Yes,Single,No,No,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11302,YAK/S/16039,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1986,10.0,2012,1,0,35,AKWA IBOM,Yes,Married,No,No,1,1
27072,YAK/S/38630,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Direct Internal process,2,1986,12.5,2015,1,0,35,LAGOS,Yes,Married,No,No,1,1
28574,YAK/S/40811,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Agency and others,2,1988,7.5,2011,1,0,34,SOKOTO,Yes,Married,No,No,0,1
20262,YAK/S/28928,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1985,10.0,2011,1,0,34,OGUN,Yes,Married,No,No,1,1
23509,YAK/S/33547,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1994,7.5,2014,1,0,33,DELTA,Yes,Not_Sure,No,No,0,1

In [15]:
df_npromoted['Training_score_average'].max()

88

In [16]:
# print('PROMOTED\n', df_promoted['Training_score_average'].value_counts(), '\n')
# print('NOT PROMOTED\n', df_npromoted['Training_score_average'].value_counts())

In [17]:
#df_promoted.corr()

In [18]:
foreign_percent = ((data['Foreign_schooled']=='Yes').sum() /data['Foreign_schooled'].count()) * 100
foreign_per_pro = ((df_promoted['Foreign_schooled']=='Yes').sum() /df_promoted['Foreign_schooled'].count()) * 100
foreign_promoted_per = ((df_promoted['Foreign_schooled']=='Yes').sum() /data['Promoted_or_Not'].count()) * 100
print(f"Percentage of the staff that are Foreign Schooled: {round(foreign_percent, 2)}%")
print(f"Percentage of Foreign Schooled promoted staff amongst the promoted staff: {round(foreign_per_pro, 2)}%")
#print(f"Percentage of the Promoted staff that are Foreign Schooled: {round(foreign_promoted_per, 2)}%")

Percentage of the staff that are Foreign Schooled: 91.34%
Percentage of Foreign Schooled promoted staff amongst the promoted staff: 91.64%

In [19]:
data['Foreign_schooled'].value_counts()

Yes    34995
No      3317
Name: Foreign_schooled, dtype: int64

In [38]:
df_target = data[data['Targets_met']==1]
df_ntarget = data[data['Targets_met']==0]
df_target.sort_values(by='Last_performance_score', ascending=False).head()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,YAK/S/00001,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
20002,YAK/S/28543,Sourcing and Purchasing,"MSc, MBA and PhD",Female,Direct Internal process,2,1989,12.5,2013,1,0,57,LAGOS,Yes,Married,No,No,0,1
20100,YAK/S/28692,Sourcing and Purchasing,"MSc, MBA and PhD",Female,Agency and others,2,1978,12.5,2009,1,0,63,OGUN,Yes,Married,No,No,1,0
20093,YAK/S/28679,Customer Support and Field Operations,First Degree or HND,Female,Direct Internal process,3,1983,12.5,2011,1,0,52,ANAMBRA,Yes,Married,No,No,0,0
20075,YAK/S/28649,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1976,12.5,2014,1,1,43,ANAMBRA,Yes,Married,No,No,2,0

## Value count of those that met target, had the max performance score and were promoted or not

In [45]:
df_target['Last_performance_score'].value_counts(normalize=True)

12.5    0.388790
7.5     0.246747
10.0    0.208592
0.0     0.075052
5.0     0.040521
2.5     0.040299
Name: Last_performance_score, dtype: float64

In [57]:
df_target[df_target['Last_performance_score']==12.5]['Promoted_or_Not'].value_counts(normalize=True)

0    0.830354
1    0.169646
Name: Promoted_or_Not, dtype: float64

Only 17% of those with the performance score were promoted

In [72]:
data[data['Last_performance_score']==12.5]['Promoted_or_Not'].value_counts(normalize=True)

0    0.841836
1    0.158164
Name: Promoted_or_Not, dtype: float64

In [ ]:
#### 15% of the staff with

In [60]:
df_target[df_target['Last_performance_score']==0.0]['Promoted_or_Not'].value_counts(normalize=True)

0    0.834483
1    0.165517
Name: Promoted_or_Not, dtype: float64

In [112]:
#Isolating those with the minimum performance score and were still promoted
d = df_target[df_target['Last_performance_score']==0.0][df_target['Promoted_or_Not']==1]
d['Previous_Award'].value_counts(normalize=True)

<ipython-input-112-2541ea61b084>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  d = df_target[df_target['Last_performance_score']==0.0][df_target['Promoted_or_Not']==1]

0    0.904762
1    0.095238
Name: Previous_Award, dtype: float64

#### 16.5% of the staff that met target had a poor performance score, 90% of this number had no previous award and were still promoted

In [63]:
data['Year_of_recruitment'].value_counts()

2016    4916
2015    4757
2017    4656
2014    4101
2012    3909
2013    3314
2018    3194
2011    2011
2010    1865
2009    1497
2008     619
2007     570
2006     472
2004     422
2003     394
2005     376
2002     293
2001     269
2000     230
1999      90
1998      53
1995      51
1996      46
1997      38
1994      35
1993      27
1990      22
1991      21
1992      20
1988      13
1989      11
1987       8
1986       7
1985       4
1982       1
Name: Year_of_recruitment, dtype: int64

In [40]:
print("Checking Performance score of those that met Target\n")
print('Max Last Performance score:', df_target['Last_performance_score'].max(), '\n')
print('Min Last Performace Score', df_target['Last_performance_score'].min(), '\n')
print('Mean of Last Performance Score', df_target['Last_performance_score'].mean())

Checking Performance score of those that met Target

Max Last Performance score: 12.5

Min Last Performace Score 0.0

Mean of Last Performance Score 9.09974859509021

In [46]:
df_ntarget['Last_performance_score'].value_counts(normalize=True)

7.5     0.389543
10.0    0.165846
2.5     0.152493
12.5    0.119211
5.0     0.096660
0.0     0.076247
Name: Last_performance_score, dtype: float64

In [41]:
print("Checking Performance score of those that didn't met Target\n")
print('Max Last Performance score:', df_ntarget['Last_performance_score'].max(), '\n')
print('Min Last Performace Score', df_ntarget['Last_performance_score'].min(), '\n')
print('Mean of Last Performance Score', df_ntarget['Last_performance_score'].mean())

Checking Performance score of those that didn't met Target

Max Last Performance score: 12.5

Min Last Performace Score 0.0

Mean of Last Performance Score 6.934706309504599

In [42]:
df_ntarget.sort_values(by='Last_performance_score', ascending=False).head()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
27808,YAK/S/39683,Customer Support and Field Operations,First Degree or HND,Female,Agency and others,2,1966,12.5,2007,0,0,57,RIVERS,Yes,Married,No,No,1,0
34640,YAK/S/49478,Customer Support and Field Operations,"MSc, MBA and PhD",Male,Agency and others,2,1984,12.5,2010,0,0,62,BAYELSA,Yes,Married,No,No,0,1
3516,YAK/S/04953,Customer Support and Field Operations,"MSc, MBA and PhD",Male,Direct Internal process,2,1988,12.5,2013,0,0,54,KANO,Yes,Married,No,No,0,0
14121,YAK/S/20095,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1989,12.5,2012,0,0,51,AKWA IBOM,Yes,Married,No,No,0,0

In [37]:
df_ntarget['Last_performance_score'].mean()

6.934706309504599